<a href="https://colab.research.google.com/github/dramirezbe/Signals-Systems-UN-DRB/blob/main/3_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estructuras de datos

- tuples
- lists
- sets
- dictionaries

## Tuples

In [ ]:
# Tuple (cannot be modified)
a = 2
b = "!I'm a variable!"
c = 6.2362e65


my_tuple = (a, b, c)

print(my_tuple)
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[-1])

(2, "!I'm a variable!", 6.2362e+65)
2
!I'm a variable!
6.2362e+65

In [ ]:
a_value, b_value, _ = my_tuple

print(a_value)
print(b_value)

2
!I'm a variable!

In [ ]:
variable_h = 2.3425325
variable_g = 3.234527e3

h, g = variable_h, variable_g

print(h)
print(g)

2.3425325
3234.527

In [ ]:
single_tuple = (1,)
print(single_tuple)

(1,)

## Lists

In [ ]:
my_list = [1, 2, 'hello', 3.14]

print(my_list)

for pos, element in enumerate(my_list):
    print(f"pos # {pos}: {element}")

[1, 2, 'hello', 3.14]
pos # 0: 1
pos # 1: 2
pos # 2: hello
pos # 3: 3.14

In [ ]:
empty_list = []
print(empty_list)

[]

### List Operations

In [ ]:
my_list = [1, 2, 3]

for i in range(2):
    my_list[i] = "insert item"

print(my_list)

my_list.append("add item")

print(my_list)

['insert item', 'insert item', 3]
['insert item', 'insert item', 3, 'add item']

In [ ]:
import random

my_list = []

for i in range(10):
    num_random = random.randint(0, 10) #Genera un n√∫mero aleatorio entero de 0 a 10
    my_list.append(num_random)
    print(my_list)

[10]
[10, 5]
[10, 5, 8]
[10, 5, 8, 7]
[10, 5, 8, 7, 6]
[10, 5, 8, 7, 6, 10]
[10, 5, 8, 7, 6, 10, 9]
[10, 5, 8, 7, 6, 10, 9, 6]
[10, 5, 8, 7, 6, 10, 9, 6, 2]
[10, 5, 8, 7, 6, 10, 9, 6, 2, 7]

In [ ]:
my_list = [1, 2, 3, 2, 4, 2]
my_list.insert(1, 'hello')  # Inserts 'hello' at index 1
print(my_list)

count = my_list.count(2)  # Counts the number of occurrences of 2
print(count)

my_list.remove(2)  # Removes the first occurrence of 2
print(my_list)

[1, 'hello', 2, 3, 2, 4, 2]
3
[1, 'hello', 3, 2, 4, 2]

In [ ]:
my_list = [1, 2, 3, 2, 4, 2, 1, 7, 6, 5, 3, 3, 3, 3]
set_list = set(my_list)
print(set_list)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

## Dictionaries

In [ ]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
empty_dict = {}

In [ ]:
another_dict = dict(name='Bob', age=25, city='London')
print(another_dict)

{'name': 'Bob', 'age': 25, 'city': 'London'}

In [ ]:
print(another_dict['name'])  # Accesses the value associated with the key 'name'

Bob

In [ ]:
another_dict['occupation'] = 'Engineer'  # Modifies the value associated with the key 'age'
print(another_dict)

another_dict['age'] = 26
print(another_dict)

{'name': 'Bob', 'age': 25, 'city': 'London', 'occupation': 'Engineer'}
{'name': 'Bob', 'age': 26, 'city': 'London', 'occupation': 'Engineer'}

In [ ]:
for i in another_dict:
    print(another_dict[i])

Bob
26
London
Engineer

In [ ]:
for i in another_dict:
    print(i)

name
age
city
occupation

In [ ]:
my_string = "Avocado"

for i in my_string:
    print(i)

A
v
o
c
a
d
o

In [ ]:
for i in range(3):
    my_string[i] = "H"

TypeError: 'str' object does not support item assignment

## Exercise

With Gemini copy and paste a list with random foods with length 100, then analyze the list, if the food have an "A" or "a", replace the word with "REPLACE"

In [ ]:
# Example of list.
food_list = [
    "Pizza", "Pasta", "Burger", "Taco", "Sushi", "Salad", "Steak", "Chicken", "Fish", "Soup",
    "Sandwich", "Hot Dog", "Fries", "Onion Rings", "Ice Cream", "Cake", "Pie", "Cookies", "Brownie", "Muffin",
    "Pancakes", "Waffles", "Yogurt", "Fruit", "Vegetables", "Bread", "Cheese", "Milk", "Eggs", "Coffee",
    "Tea", "Juice", "Water", "Soda", "Beer", "Wine", "Liquor", "Cereal", "Oatmeal", "Popcorn",
    "Nachos", "Burrito", "Quesadilla", "Guacamole", "Salsa", "Chips", "Dip", "Candy", "Chocolate", "Peanut Butter",
    "Jelly", "Jam", "Honey", "Syrup", "Butter", "Margarine", "Mayonnaise", "Ketchup", "Mustard", "Pickles",
    "Olives", "Bacon", "Sausage", "Ham", "Turkey", "Roast Beef", "Pork", "Lamb", "Seafood", "Shrimp",
    "Crab", "Lobster", "Scallops", "Oysters", "Clams", "Mussels", "Tuna", "Salmon", "Cod", "Haddock",
    "Halibut", "Bass", "Trout", "Carp", "Catfish", "Eel", "Squid", "Octopus", "Caviar", "Foie Gras",
    "Asparagus", "Broccoli", "Carrots", "Peas", "Green Beans", "Corn", "Potatoes", "Sweet Potatoes", "Yams", "Onions"
]

Original list: ['Pizza', 'Pasta', 'Burger', 'Taco', 'Sushi', 'Salad', 'Steak', 'Chicken', 'Fish', 'Soup', 'Sandwich', 'Hot Dog', 'Fries', 'Onion Rings', 'Ice Cream', 'Cake', 'Pie', 'Cookies', 'Brownie', 'Muffin', 'Pancakes', 'Waffles', 'Yogurt', 'Fruit', 'Vegetables', 'Bread', 'Cheese', 'Milk', 'Eggs', 'Coffee', 'Tea', 'Juice', 'Water', 'Soda', 'Beer', 'Wine', 'Liquor', 'Cereal', 'Oatmeal', 'Popcorn', 'Nachos', 'Burrito', 'Quesadilla', 'Guacamole', 'Salsa', 'Chips', 'Dip', 'Candy', 'Chocolate', 'Peanut Butter', 'Jelly', 'Jam', 'Honey', 'Syrup', 'Butter', 'Margarine', 'Mayonnaise', 'Ketchup', 'Mustard', 'Pickles', 'Olives', 'Bacon', 'Sausage', 'Ham', 'Turkey', 'Roast Beef', 'Pork', 'Lamb', 'Seafood', 'Shrimp', 'Crab', 'Lobster', 'Scallops', 'Oysters', 'Clams', 'Mussels', 'Tuna', 'Salmon', 'Cod', 'Haddock', 'Halibut', 'Bass', 'Trout', 'Carp', 'Catfish', 'Eel', 'Squid', 'Octopus', 'Caviar', 'Foie Gras', 'Asparagus', 'Broccoli', 'Carrots', 'Peas', 'Green Beans', 'Corn', 'Potatoes', 'Sweet Potatoes', 'Yams', 'Onions']
Modified list: ['REPLACE', 'REPLACE', 'Burger', 'REPLACE', 'Sushi', 'REPLACE', 'REPLACE', 'Chicken', 'Fish', 'Soup', 'REPLACE', 'Hot Dog', 'Fries', 'Onion Rings', 'REPLACE', 'REPLACE', 'Pie', 'Cookies', 'Brownie', 'Muffin', 'REPLACE', 'REPLACE', 'Yogurt', 'Fruit', 'REPLACE', 'REPLACE', 'Cheese', 'Milk', 'Eggs', 'Coffee', 'REPLACE', 'Juice', 'REPLACE', 'REPLACE', 'Beer', 'Wine', 'Liquor', 'REPLACE', 'REPLACE', 'Popcorn', 'REPLACE', 'Burrito', 'REPLACE', 'REPLACE', 'REPLACE', 'Chips', 'Dip', 'REPLACE', 'REPLACE', 'REPLACE', 'Jelly', 'REPLACE', 'Honey', 'Syrup', 'Butter', 'REPLACE', 'REPLACE', 'Ketchup', 'REPLACE', 'Pickles', 'Olives', 'REPLACE', 'REPLACE', 'REPLACE', 'Turkey', 'REPLACE', 'Pork', 'REPLACE', 'REPLACE', 'Shrimp', 'REPLACE', 'Lobster', 'REPLACE', 'Oysters', 'REPLACE', 'Mussels', 'REPLACE', 'REPLACE', 'Cod', 'REPLACE', 'REPLACE', 'REPLACE', 'Trout', 'REPLACE', 'REPLACE', 'Eel', 'Squid', 'Octopus', 'REPLACE', 'REPLACE', 'REPLACE', 'Broccoli', 'REPLACE', 'REPLACE', 'REPLACE', 'Corn', 'REPLACE', 'REPLACE', 'REPLACE', 'Onions']